extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Records

    dl
      each record in genre_records
        hr
        dt
          a(href=record.url) #{record.title}
        dd #{"By "+record.artist}

      else
        p This genre has no records