extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Genre:
      input#name.form-control(type='text', placeholder='Rock, Rap, Jazz, Classical, etc.' name='name' value=(undefined===genre ? '' : genre.name))

    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='text', placeholder='A breif description about the genre' name='description' value=(undefined===genre ? '' : genre.description)) #{undefined===genre ? '' : genre.description}
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg